.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
src/settings/siteConfig.js
!src/settings/projects/README.md
src/settings/projects/*
.ssh
deploy-key
