# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Backpack build
build

# Coverage
test/unit/coverage

# Config
local.config.js
custom/

# docs
_book/*

# PWA
sw.*
workbox-*
