const config = {
  company: 'My Company',
  brand: 'My Brand',
  tagline: 'My inspiring tagline',
  description: 'My SEO optimised meta description',
  contact: {
    twitter: 'mytwitterhandle',
    email: 'me@example.com'
  },
  githubUrl: 'https://github.com/LibCrowds/libcrowds',
  pybossa: {
    host: process.env.NODE_ENV === 'development'
      ? 'http://127.0.0.1:5000'
      : 'http://xxxx.com'
  }
}

// Mailchimp signup URL
// config.mailchimp = {
//   apiKey: 'api-key',
//   listId: 'list-id'
// }

// Mapbox configuration for location stats
// config.mapbox = {
//   id: 'mapbox.streets',
//   publicApiToken: 'token'
// }

// Sentry public DSN
// config.sentry = {
//   public_key: '',
//   private_key: '',
//   project_id: ''
// }

// Google analytics tracking ID
// config.analytics = {
//   ua: 'UA-XXX-X'
// }

// config.docs = 'https://docs.example.com'

module.exports = config
