const config = {
  brand: 'My Brand',
  company: 'My Company',
  description: 'My SEO optimised meta description',
  libcrowdsHost: process.env.NODE_ENV === 'development'
    ? 'http://127.0.0.1:8080'
    : 'http://xxxx.com',
  pybossaHost: process.env.NODE_ENV === 'development'
    ? 'http://127.0.0.1:5000'
    : 'http://xxxx.com',
  tagline: 'My inspiring tagline',
  explicates: {
    baseURL: 'http://127.0.0.1:3000'
  }
}

// Twitter
// config.twitter = 'mytwitterhandle'

// Contact email address
// config.email = 'me@example.com'

// GitHub account
// config.github = 'https://github.com/LibCrowds/libcrowds'

// Additional footer menu
// config.footer = {
//   title: 'Newsletter',
//   items: [
//     { text: 'Sign up', url: 'http://mailchimp.signup.url' }
//   ]
// }

// Sentry public DSN
// config.sentry = {
//   public_key: '',
//   private_key: '',
//   project_id: ''
// }

// Google analytics tracking ID
// config.analytics = {
//   ua: 'UA-XXX-X'
// }

// Documentation URI
// config.docs = 'https://docs.example.com'

// Facebook app ID
// config.facebook: {
//   appId: ''
// }

// Flarum forum configuration
// config.flarum = {
//   url: 'http://community.example.com',
//   sessionCookieDomain: '.example.com',
//   apiKey: '',
//   salt: 'super-secret-string'
// }

// Disable project building functions for non-admin users
// config.disableProjectBuilder = true

module.exports = config
