@import url(https://fonts.googleapis.com/css?family=Varela+Round:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);

/* Text */
$headings-font-family:             'Varela Round', sans-serif;
$font-family-base:                 'Roboto', sans-serif;
$headings-font-weight:             400;
$line-height-base:                 1.6;

/* Colors */
$brand-primary:                    #D00000;
$brand-success:                    #408E40;
$brand-info:                       #2589BD;
$brand-warning:                    #E38D13;
$brand-danger:                     #E4572E;
$brand-inverse:                    #111111;
$body-color:                       #26333F;

$white:                            #FFFFFF;
$gray:                             #404446;
$gray-light:                       #888888;
$black:                            #000000;
$twitter:                          #00ACEE;
$facebook:                         #3B5998;
$googleplus:                       #D34836;
$linkedin:                         #0E76A8;

/* Links */
$link-color:                       #03B5AA;
$link-hover-color:                 darken($link-color, 5%);
$link-hover-decoration:            underline;

/* Components */
$component-active-bg:              $brand-info;

/* Buttons */
$btn-secondary-color:              $brand-inverse;
$btn-secondary-bg:                 $white;
$btn-secondary-border:             $brand-inverse;
$btn-border-radius:                0px;
$btn-border-radius-lg:             0px;
$btn-border-radius-sm:             0px;

/* Navbar */
$navbar-light-color:               rgba($black, .7);
$navbar-inverse-color:             $white;
$navbar-inverse-toggler-border:    none;
$app-navbar-height:                50px;

/* Nav Pills*/
$nav-pills-active-link-bg:         transparent;

/* Input */
$input-padding-x:                  1.25rem;
$input-padding-y:                  .75rem;
$input-border-focus:               $brand-info;
$custom-select-focus-border-color: lighten($brand-info, 25%);

/* Tables */
$table-cell-padding:               .75rem 1.25rem;
$table-bg-accent:                  darken($white, 3%);
$table-bg-hover:                   darken($white, 5%);
$table-border-color:               rgba($black, .075);

/* Pagination */
$pagination-color:                 $brand-info;
$pagination-hover-color:           darken($brand-info, 10%);
$pagination-active-bg:             $brand-info;
$pagination-active-border:         $brand-info;

/* Cards */
$card-border-radius:               0px;
$card-columns-count:               2;

/* Alerts */
$alert-border-radius:              0;

/* Forms */
$form-group-margin-bottom:         1rem;

/* List Groups */
$list-group-border-radius:         0px;
$list-group-item-padding-y:        0.5rem;
$list-group-item-padding-x:        0.75rem;

/* Spacing */
$spacer:                           2.5rem;

/* Modals */
$modal-backdrop-opacity:           0.8;
$modal-inner-padding:              0;
$modal-dialog-margin-y-sm-up:      50px;
$modal-backdrop-bg:                #EFEFEF;

/* Hamburger */
$hamburger-hover-opacity:          100%;
$hamburger-types:                  (collapse, arrow);

/* Font-Awesome */
$fa-font-path:                     '~font-awesome/fonts';

/* Light Gallery */
$lg-path-fonts:                    '~lightgallery/src/fonts';
$lg-path-images:                   '~lightgallery/src/img';

/* SpinKit */
$spinkit-spinner-color:            $brand-info;

@import
  '~bootstrap/scss/bootstrap',
  '~bootstrap-vue/dist/bootstrap-vue.css',
  '~sweetalert2/dist/sweetalert2.css',
  'partials/modals',
  'partials/tables',
  'partials/cards'
;
