.table {
  font-size: $font-size-sm;
  margin-bottom: 0;
  background-color: $white;
  border: $table-border-width solid $table-border-color;
  display: block;
  overflow-y: auto;

  th {
    font-weight: 400;
    text-transform: uppercase;
    color: $text-muted;
    border-top: none;
  }

  tr *:first-child {
    width: 99%;
  }
}