.card {
  .card-header {
    font-family: $headings-font-family;
    background-color: $white;
  }

  .tab-content.card-body {
    padding: 0;
  }

  &.options-card {
    font-size: $font-size-sm;
    margin-top: 0;

    .card-header {
      background-color: $gray-100;
      text-align: center;
      padding: $list-group-item-padding-y $list-group-item-padding-x;
    }
  }

  .search-control {
    border-radius: 100px;
    padding: 0.5rem 0.75rem;
  }

  &.card-overflow {
    overflow: visible;
  }

  &.bg-dark {
    background-color: $gray-1000 !important;

    .card-header {
      background-color: $gray-1000 !important;
    }
  }
}
