.ct-container {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }
}

.ct-legend {
  font-size: $font-size-sm;
  list-style: none;
  position: relative;
  margin: 0;

  li {
    position: relative;
    text-align: left;
  }

  li:before {
    width: 12px;
    height: 12px;
    margin: 3px;
    position: absolute;
    content: '';
    border: 3px solid transparent;
    border-radius: 2px;
    left: -23px;
    top: 2px;
  }

  @for $i from 0 to length($ct-series-colors) {
    .ct-series-#{$i}:before {
      background-color: nth($ct-series-colors, $i + 1);
      border-color: nth($ct-series-colors, $i + 1);
    }
  }
}