.form-container {
  border: none;

  label {
    font-weight: 600;
    font-size: $font-size-sm;
  }

  .errors {
    color: $red;
    font-size: $font-size-sm;

    span {
      margin-top: 0.25rem;
      display: block;
    }
  }

  fieldset {
    padding: 0;
  }

  .form-group {
    margin-bottom: 2rem;
  }
}

.input-group-btn {
  input {
    border-radius: 0;
  }
}

.form-dark {
  .form-control,
  .custom-file-control {
    color: $gray-100;
    background-color: $gray-800;
    border-color: $gray-800;
  }

  .btn,
  .custom-file-control:before {
    color: $gray-100;
    background-color: $gray-1200;
    border-color: $gray-1200;
  }
}
