.table {
  display: table;
  width: 100%;
  font-size: $font-size-sm;
  margin-bottom: 0;
  background-color: $white;
  border-bottom: $table-border-width solid $table-border-color;

  th {
    font-weight: 400;
    text-transform: uppercase;
    color: $text-muted;
  }

  td {
    vertical-align: middle;
  }
}

// To stop tables loading before the user scrolls to the bottom
// As the bottom is flexible and no max-height is set
.dashboard {
  .infinite-loading-table {
    max-height: 65vh;
    overflow: auto;
  }
}