const config = {
  company: 'The British Library',
  brand: 'LibCrowds',
  contact: {
    twitter: 'LibCrowds',
    email: 'crowdsourcing@bl.uk'
  },
  githubUrl: 'https://github.com/LibCrowds',
  pybossaHost: isDev ? 'http://127.0.0.1:5000' : 'https://playbills-backend.libcrowds.com',
}


// Mapbox configuration for location stats
config.mapbox = {
  id: 'mapbox.streets',
  publicApiToken: 'pk.eyJ1IjoibGliY3Jvd2RzIiwiYSI6ImNpdmlxaHFzNTAwN3YydHBncHV3dHc3aXgifQ.V4WUx9SDcU_XLFJo2M3RxQ'
}

// Specify additional parts of the site that require admin rights
config.requiresAdmin = {
  projectManagement: true
}

// Sentry public DSN
config.sentryPublicDsn = 'https://6b592ec745ca4c7bb8d865e1c002e624@sentry.io/195392'

// Google analytics tracking ID
config.analytics = 'UA-59584422-4'

// Vue component for the results page
// config.resultsComponent = require(`@/${basePath}/Results.vue`)

// Footer lead text
config.footer = {
  text: 'Part of the LibCrowds crowdsourcing platform',
  url: 'http://www.libcrowds.com'
}