const isDev = process.env.NODE_ENV === 'development'

const config = {
  company: 'The British Library',
  brand: 'LibCrowds',
  tagline: 'Crowdsourcing projects from the British Library',
  description: 'A platform for hosting experimental crowdsourcing projects aimed at improving access to the diverse collections held at the British Library.',
  contact: {
    twitter: 'LibCrowds',
    email: 'crowdsourcing@bl.uk'
  },
  githubUrl: 'https://github.com/LibCrowds',
  pybossaHost: isDev ? 'http://127.0.0.1:5000' : 'http://xxxx.com',
  dataLicense: {
    name: 'CC0',
    url: 'https://creativecommons.org/publicdomain/zero/1.0/'
  }
}

// List of project configuration directories stored in src/settings/projects
config.projects = [

]

// Mapbox configuration for location stats
// config.mapbox = {
//   id: 'mapbox.streets',
//   publicApiToken: 'token'
// }

// Sentry public DSN
// config.sentryPublicDsn = 'https://******@sentry.io/<project>'

// Google analytics tracking ID
// config.analytics = 'UA-XXX-X'

module.exports = config
