const isDev = process.env.NODE_ENV === 'development'

module.exports = {

  // Basic configuration
  brand: 'Convert-a-Card',
  tagline: 'A crowdsourcing platform from the British Library',
  description: 'Transform printed card catalogues into a searchable database.',
  company: 'The British Library',
  contact: {
    twitter: 'LibCrowds',
    email: 'crowdsourcing@bl.uk'
  },
  githubUrl: 'https://github.com/LibCrowds',
  pybossaHost: isDev ? 'http://127.0.0.1:5000' : 'http://xxxx.com',
  dataLicense: {
    name: 'CC0',
    url: 'https://creativecommons.org/publicdomain/zero/1.0/'
  },

  // Upload method that matches your PyBossa settings
  uploadMethod: 'local',

  //
  requiresAdmin: {
    projectManagement: false
  }

  // Google analytics tracking ID
  // analytics: 'UA-XXX-X',

  // Sentry public DSN
  // sentryPublicDsn: 'https://******@sentry.io/<project>'

  // Mapbox configuration for location stats
  // mapboxPublicApiToken: 'token',
  // mapboxId: 'mapbox.streets',

  // Forum URL
  // forumUrl: 'http://community.libcrowds.com',

  // Main background image
  // bgImg: require('@/custom/background.jpg'),

  // Main about page text
  // aboutMd: require('@/custom/about.md'),

  // Text for the technology section of the about page
  // technologyMd: require('@/custom/technology.md'),

  // Main projects page text
  // projectsMd: require('@/custom/projects.md'),

  // Results Vue component
  // resultsComponent: require('@/custom/Results.vue'),

  // Footer lead text
  // footer: {
  //   text: 'Part of the LibCrowds crowdsourcing platform',
  //   url: 'http://www.libcrowds.com'
  // }
}
